body, html {
  overflow-x: hidden;
  background-color: #14213d;
  color: #c8c8c8;;
  font-family: 'Avenir Next Condensed Ultra Light';
  line-height: 0.5em;
}

.App {
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invitationStyle {
  min-height: 200px;
  max-height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
}

.timePlaceText {
  font-size: 40px;
}

.invitationText {
  font-size: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.label {
  font-size: 25px !important;
  font-family: 'Avenir Next Condensed Ultra Light' !important;
  color: #c8c8c8 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
